<header>
	<h1>
		Hi, I'm Kaspars - I solve challanges, improve solutions, and cultivate skills.
	</h1>
	<p>
		Currently I am full-stack developer in Tartu, Estonia; previously frontend/wp developer, volunteer, sysadmin.<br>
		My primary philosophical disciplines are aesthetics and essentialism thus this website serves my own contemporary doxological interests I hope you find interesting too.
	</p>
	<p>
		One can find some of my public
		<a href="//instagram.com/varezers" target="_blank">photographic experiments</a>,
		<a href="//instagram.com/melnezers" target="_blank">visual arts</a>,
		<a href="//flickr.com/photos/varezers/albums" target="_blank">public domain event photography</a>
		or lookup my
		<a href="//twitter.com/varezers" target="_blank">public bookmark dump</a>.
	</p>
	<p>
		For professional development and non-serious experimental aesthetic collaboration <a href="mailto:k@varezers.org">reach me by email</a>.
		This website has sparcely updated <a href="/index.xml">RSS feed</a>.
	</p>

</header>
