<header>
	<h1>
		{{ .Site.Params.Welcome_header }}
	</h1>
	<p>
		<abbr title="previously ({{ ":flag_lv:,:flag_ro:,:flag_fi:,:flag_us:,:flag_ee:" | emojify }})">
		Currently</abbr> I am full-stack developer based in Baltics — {{ "Tartu, Tallinn :flag_ee:" | emojify }} and {{ "Riga :flag_lv:" | emojify }}
		<br>
		But to be honest, lately I found myself fascinated by
		<abbr title="painting, photography, music, raves">arts</abbr>, 
		<abbr title="metal, electronics">crafts</abbr>, 
		<abbr title="stoicism, tao">philosophy</abbr>, 
		<abbr title="cycling, running, hiking, orienteering">sports</abbr>,
		<abbr title="(🌱 🇵🇸 🏳️‍🌈)">activism</abbr>
		and straight edge life
		rather than anything else. The idea is still fermenting but <a href="//www.goodreads.com/book/show/707243.Secrets_of_the_Gnomes">Secrets of the Gnomes</a> has inspired me to explore options to move to the forest.
		<br>
		Besides individual disciplines I am open for photographic, performative and festival vibe building co-ops.
		<br>
		This website serves my interest and experience notes. Enjoy or go away!
	</p>
	<p>
		Find me on
		<a href="//instagram.com/varezers" target="_blank">instagram</a>,
		<a href="{{ .Site.BaseURL }}/feed.xml">RSS feed</a>
	</p>
	<p>
		For co-op reach me by email adding literally anything before <code>@varezers.org</code></a>.
	</p>
</header>
