<header>
	<h1>
		Hi, I'm Kaspars - I love solving challanges and collecting skills!
	</h1>
	<p>
		<abbr title="previously frontend/wp developer, volunteer, and sysadmin (🇱🇻,🇷🇴,🇫🇮,🇺🇸)">Currently</abbr> I am full-stack developer in Tartu, Estonia 🇪🇪<br>
		This website serves my interest and experience notes. I hope you find it interesting too!
	</p>
	<p>
		Find some of my visual work on
		<a href="//instagram.com/varezers" target="_blank">instagram</a>,
		<a href="//flickr.com/photos/varezers/albums" target="_blank">flickr</a>,
		<a href="//twitter.com/varezers" target="_blank">twitter</a>,
		<a href="/index.xml">RSS feed</a>
	</p>
	<p>
		For professional and artistic coop <a href="mailto:k@varezers.org">reach me by email</a>.
	</p>

</header>
