/*! KISS */

$color-main: #444444;
$font-main: 1.1rem;
$max-width: 80ch;

:root {
	background-color: #f2f2f2;
	font-size: 100%;
	color: $color-main;
	font-size: $font-main;
	line-height: 1.6;
}

body {
	margin: 40px auto;
	max-width: $max-width;
	padding: 0 2%;
}

h1, h2, h3 {
    line-height: 1.2;
    margin-top: 2rem;
}

header,
footer {
	text-align: center;
	margin: 3rem 0;
}

img {
	display: block;
	max-height: 100vh;
	max-width: 100%;
	margin: 0.75em auto;
}

pre,
table {
	overflow: auto;
}

table {
	border-spacing: 0;
	width: 100%;

	th,
	td {
		border-bottom: 0.1rem solid $color-main;
	}
}

blockquote {
	font-style: italic;
}