/*! KISS */
:root {
	color-scheme: light dark;
	background-color: canvas;
	color: canvastext;
	font-size: 1.1rem;
	line-height: 1.6;
	quotes: " « " " » " "`" "`";
}

body {
	margin-inline: auto;
	max-width:  80ch;
	padding: 2vi 5vi;
}

header,
footer {
	text-align: center;
}

img {
	display: block;
	max-height: 100vh;
	max-width: 100%;
	margin-block: 0.75rem;
	border-radius: 2px;
}

pre,
table {
	overflow: auto;
}

table {
	border-collapse: collapse;
	font-variant-numeric: tabular-nums;
	width: 100%;

	th,
	td {
		border-bottom: 0.1rem solid canvastext;
		text-align: left;
	}
}

blockquote {
	font-style: italic;
	font-size: 1.15rem;
	margin-inline: 1.5rem 0;
	padding-inline: 2.5vw;
	text-wrap: pretty;

	p:first-of-type {
		&::before {
			content: open-quote;
		}

		&::after {
			content: close-quote;
		}
	}

	cite {
		display: block;
		text-align: right;
		font-size: 0.9rem;
		opacity: 0.8;
		
		&::before,
		&::after {
			content: none;
		}
	}
}