/*! KISS */
:root {
	background-color: #f2f2f2;
	font-size: 100%;
	color: #444444;
	font-size: 1.1rem;
	line-height: 1.6;
}

body {
	margin-inline: auto;
	max-width:  80ch;
	padding: 2rem;
}

header,
footer {
	text-align: center;
	margin: 3rem 0;
}

img {
	display: block;
	max-height: 100vh;
	max-width: 100%;
	margin: 0.75em auto;
}

pre,
table {
	overflow: auto;
}

table {
	border-spacing: 0;
	width: 100%;

	th,
	td {
		border-bottom: 0.1rem solid #444444;
	}
}

blockquote {
	font-style: italic;
}

@media (prefers-color-scheme: dark) {
	:root {
		background-color: #252B2B;
		color: #DFA05D;
	}

	a {
		color: #AC5045;
	}

	a:hover {
		color: #658761;
	}
}